/Ex1.class
/Ex3Client.class
/MonServlet.class
/Ex6.class
/ServletEx6.class
/ServletConfigDefault.class
/ServletContextConfig.class
/ServletGetContextConfig.class
/ServletSetContextConfig.class
/partie1/
/partie2/
